
$burgWidth : 50px;
$labelWidth: 210px;
$menuHeight: 50px;
$mainColor: #00CCCC;

#diven-photo-menu {
	
	margin: 5px;
	
	height: $menuHeight;
	min-width: 1000px;
	
	& div.label:after {
     content: ""; 
	 display: block; 
     position: relative;
     left: $burgWidth;	 
     background-image: url(../image/title-name-w.png);
	    background-position: center, center;
        width: $labelWidth;
        height: $menuHeight;	 
    }



    & .label {	
        background-image: url(../image/burger-label-w.png);
	    background-position-y:  center;
		background-position-x: 0px;
        width: calc($burgWidth +  $labelWidth);
        height: $menuHeight;
		float: left;
       		
    }
	& .label:hover {
		
		cursor: pointer;
		
	}
	& .lang{	
        color: $mainColor;	
		height: $menuHeight;
		float: left;
		padding-top: 15px;
		padding-left: 10px;
	}
	
	& .buttons-centre{
		
		
		display: block;
		        
				min-width: 680px;
		        float: left;
                border-left: 1px solid $mainColor;	
                 border-right: 1px solid $mainColor;
				 
				 	& div{
					height: $menuHeight;
					float: left;
					margin-left: 10px;
					
					& img{
						padding-top: 10px;
						height: 30px;
						width: 40px;
						align: centre;
						float: left;
						
					}
					& p{
						margin: 0px;
						padding-top: 15px;
						padding-left: 2px;
						padding-right: 2px;
						height: 40px;
					    font-size: 18px;
                        color: $mainColor;						
						float: left;
						& a{
							text-decoration: none;
							color: #00CCCC;
						}
					}
				}
	}
	
    & .other-links{
		display: none;
		margin-top: 30px;
		padding-top: 10px;
		width: 100%;
		padding-left: 10px;
		background-color:  rgba( 0, 0, 0, 0.8); 
		position: relative;
		z-index: 6;
		
		
		& ul{
			list-style-type: none;
			
		}
		& li {
			color: $mainColor;
			font-size: 25px;
			padding: 20px;
			& a{
				text-decoration: none;
				color: #00CCCC;
			}
			
		}
	}
	
} 
@media all and (max-width: 400px) { 

  #diven-photo-menu {
   min-width: 400px;
	 
	 & .buttons-centre{
			    display: none;
		        
                			 
				
			} 
	 & .other-links li{ 
	 			
			font-size: 20px;
			padding: 10px;	 
	   }
	} 
}	

	

@media all and (min-width: 1000px) {
	
		#diven-photo-menu {
			
			& .buttons-centre{
			    display: block;
		        width: 65%;
                			 
				
			}
			
			& div.label{	
			  
			  margin-left: 0px;
			
			}
			
			
	   }   
}



@media all and (min-width: 1100px) { 

       #diven-photo-menu div.label{	
			  
			  margin-left: 50px;
			
			}
}

@media all and (min-width: 1200px) { 

       #diven-photo-menu div.label{	
			  
			  margin-left: 100px;
			
			}
}










