
#addPhotoModal{
	border: 1px solid black;
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	background-color: white;
	z-index: 3;
	
}

.additionalBtn:hover{
	
	cursor:pointer;
}

.comfirmPhotoBtn{
	
	position: absolute;
	z-index: 4;
	bottom: 10%;
	left: 45%;
}